<div class="main">
    <h2>Fornecedores</h2>

    <div class="row">
        <div class="col input-group-prepend">
            <span class="input-group-text lupa"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control busca">
        </div>
        
        <!-- <button class="btn btn-cadastrar fas fa-plus-circle fa-sm" (click)="CadastrarFornecedor()" > Novo fornecedor</button> -->
        <button class="btn btn-cadastrar fas fa-plus-circle fa-sm" (click)="cadastrarFornecedor()"> Novo Fornecedor</button>
        
    </div>
<form [formGroup]="fornecedorForm">

    <table class="tabela">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
        </tr>
        <tr *ngFor="let fornecedor of fornecedores">
            <td>{{fornecedor.id}}</td>
            <td *ngIf="fornecedor.id != EditRowId">{{fornecedor.nome}}</td>
            <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.nome}}" formControlName="nomeFornecedor"></td>
            <td *ngIf="fornecedor.id != EditRowId">{{fornecedor.email}}</td>
            <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.email}}" formControlName="emailFornecedor"></td>
            <td *ngIf="fornecedor.id != EditRowId">{{fornecedor.telefone}}</td>
            <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.telefone}}" formControlName="telefoneFornecedor"></td>
            <td *ngIf="fornecedor.id === EditRowId"><button class="btn fas fa-ban fa-lg"
                (click)="editIncorrect(fornecedor)"></button></td>
        <td *ngIf="fornecedor.id === EditRowId"><button class="btn fas fa-check-circle fa-lg"
                (click)="editCorrect(fornecedor)"></button></td>
        <td *ngIf="fornecedor.id != EditRowId"><button class="btn fas fa-pen fa-lg"
                (click)="edit(fornecedor)"></button></td>
        <td *ngIf="fornecedor.id != EditRowId"><button class="btn fas fa-trash fa-lg"
                (click)="delete(fornecedor)"></button></td>
        </tr>
       
    </table>
</form>
</div>
