<div class="main">
    <h2>Fornecedores</h2>

    <div class="row">
        <div class="col input-group-prepend">
            <span class="input-group-text lupa"><i class="fas fa-search fa-lg"></i></span>
            <input type="text" class="form-control busca" "buscarFornecedor($event.target.value)">
        </div>

        <!-- <button class="btn btn-cadastrar fas fa-plus-circle fa-sm" (click)="CadastrarFornecedor()" > Novo fornecedor</button> -->
        <button class="btn btn-cadastrar" (click)="cadastrarFornecedor()">Novo Fornecedor <a
                class="fas fa-plus-circle fa-lg"></a></button>

    </div>
    <form [formGroup]="fornecedorForm">

        <table class="tabela">
            <tr>
                <th class="table-align">ID</th>
                <th class="table-align">Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
            </tr>
            <tr *ngFor="let fornecedor of fornecedores">
                <td class="table-align">{{fornecedor.id}}</td>
                <td *ngIf="fornecedor.id != EditRowId" class="table-align">{{fornecedor.nome}}</td>
                <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.nome}}"
                        formControlName="nomeFornecedor"></td>
                <td *ngIf="fornecedor.id != EditRowId">{{fornecedor.email}}</td>
                <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.email}}"
                        formControlName="emailFornecedor"></td>
                <td *ngIf="fornecedor.id != EditRowId">{{fornecedor.telefone | mask: '(00) 00000-0000'}}</td>
                <td *ngIf="fornecedor.id === EditRowId"><input type="text" value="{{fornecedor.telefone}}"
                        formControlName="telefoneFornecedor"></td>
                <td *ngIf="fornecedor.id === EditRowId"><button class="btn fas fa-times-circle fa-lg"
                        (click)="editIncorrect(fornecedor)"></button></td>
                <td *ngIf="fornecedor.id === EditRowId"><button class="btn fas fa-check-circle fa-lg"
                        (click)="editCorrect(fornecedor)"></button></td>
                <td *ngIf="fornecedor.id != EditRowId"><button class="btn fas fa-pen fa-lg"
                        (click)="edit(fornecedor)"></button></td>
                <td *ngIf="fornecedor.id != EditRowId"><button class="btn fas fa-trash fa-lg"
                        (click)="delete(fornecedor)"></button></td>
            </tr>
        </table>
    </form>
</div>
