<div class="main">
    <h2>Fornecedores</h2>

    <tr class="cabecalho">
        <td><input type="text" class="form-control">
        <td><button class="btn fas fa-plus-circle fa-sm">Novo Funcionário</button></td>
    </tr>

    <table class="tabela">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
        </tr>
        <tr *ngFor="let fornecedor of fornecedores">
            <td>{{fornecedor.id}}</td>
            <td>{{fornecedor.nome}}</td>
            <td>{{fornecedor.email}}</td>
            <td>{{fornecedor.telefone}}</td>
            <td><button class="btn fas fa-pen fa-lg"></button></td>
            <td><button class="btn fas fa-trash fa-lg"></button></td>
        </tr>
       
    </table>
</div>



<!-- <div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control"> 
        </div>
        
        <div class="col"><button class="btn">search</button></div>
        <div class="col"><button class="btn">novofornecedor</button></div>
        
    </div>

    <div class="row">
        <div class="col">ID</div>
        <div class="col">Nome</div>
        <div class="col">Email</div>
        <div class="col">Telefone</div>
        <div class="col"></div>
        <div class="col"></div>
        
    </div>
    <div class="row" *ngFor="let fornecedor of fornecedores">
        <div class="col">{{fornecedor.id}}</div>
        <div class="col">{{fornecedor.nome}}</div>
        <div class="col">{{fornecedor.email}}</div>
        <div class="col">{{fornecedor.telefone}}</div>
        <div class="col"><button class="btn">Edit</button></div>
        <div class="col"><button class="btn">delet</button></div>
    </div>

  
</div> -->
