<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="main">
    <button class="botao-voltar fas fa-chevron-circle-left fa-2x" (click)="voltarHome()"></button>
    <label class="titulo">Novo Produto</label>

    <form [formGroup]="cadastraProdutoForm" (ngSubmit)="onSubmit()" style="margin-top: 50px;">
        <label class="label-title">Nome</label><br>
        <input type="text" formControlName="nome">
        <label for="Nome"></label>

        <app-msg-erro [isError]="isErrorCampo('nome')" mensagem="Campo incorreto"></app-msg-erro>

        <div>
            <label class="label-title">Marca</label><br>
            <select class="form-select form-select-lg mb-3"  (change)=selectMarca($event.target.value) >
                <option *ngFor="let marca of marcas"  >
                    {{marca.nome}}
                </option>
            </select>
        </div>
        <div>
            <label class="label-title">Tipo Produto</label><br>
            <select  class="form-select form-select-lg mb-3" (change)=selectTipoProduto($event.target.value) >
                <option *ngFor="let tipoProduto of tipoProdutos"   >
                    {{tipoProduto.nome}}
                </option>
            </select>
        </div>
        <div>
            <label class="label-title">Tamanho</label><br>
            <select class="form-select form-select-lg mb-3" (change)=selectTamanho($event.target.value) >
                <option *ngFor="let tamanho of tamanhos"  >
                    {{tamanho.id}}
                </option>
            </select>
        </div>

        <div>
            <label class="label-title">Fornecedor</label><br>
            <select  class="form-select form-select-lg mb-3" (change)=selectFornecedor($event.target.value) >
                <option *ngFor="let fornecedor of fornecedores"   >
                    {{fornecedor.nome}}
                </option>
            </select>
        </div>
        
        <label class="label-title">Valor de Compra</label><br>
        <input type="text" formControlName="valorCompra"><br>

        <app-msg-erro [isError]="isErrorCampo('valorCompra')" mensagem="Campo incorreto"></app-msg-erro>
            
        <label class="label-title">Valor para Venda</label><br>
        <input type="text" formControlName="valorVenda"><br>

        <app-msg-erro [isError]="isErrorCampo('valorVenda')" mensagem="Campo incorreto"></app-msg-erro>

        <label class="label-title">Quantidade</label><br>
        <input type="text"  formControlName="quantidade">

        <app-msg-erro [isError]="isErrorCampo('quantidade')" mensagem="Campo incorreto"></app-msg-erro>

        <input type="button" class="botao-cadastrar" type="submit" id="cadastrar" name="cadastrar" value="Cadastrar">
    </form>
</div>
