<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Side navigation -->
<div class="sidenav">
    <img class="logo" src="/assets/logo.png" align-content="center">
    <button type="submit" class="btn btn-block btn-lg text-left submit-btn" (click)="produtos()"><i class="fas fa-shopping-cart icons"></i>Produtos</button>
    <button type="submit" class="btn btn-block btn-lg text-left submit-btn" (click)="fonecedores()"><i class="fas fa-truck icons"></i>Fornecedores</button>
    <button type="submit" class="btn btn-block btn-lg text-left submit-btn" (click)="funcionarios()"><i class="fas fa-address-card icons"></i>Funcionários</button>
    <button type="submit" class="btn btn-block btn-lg text-left submit-btn" (click)="marcas()"><i class="fas fa-address-card icons"></i>Marca</button>
    <button type="submit" class="btn btn-block btn-lg text-left submit-btn" (click)="estoques()"><i class="fas fa-address-card icons"></i>Estoque</button>

</div>
<div class="main">
    
    <app-produto [ngStyle]="{'display': displayProduto}" ></app-produto>
    <app-fornecedor [ngStyle]="{'display': displayFornecedor}" ></app-fornecedor>
    <app-funcionario [ngStyle]="{'display': displayFuncionario}"></app-funcionario>
    <app-marca [ngStyle]="{'display': displayMarca}"></app-marca>
    <app-estoque [ngStyle]="{'display': displayEstoque}"></app-estoque>
    
</div>
