/* #F2F2F2 Branco */
/* #017EEC Azul */

.logo {
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
    width: 80%;
    height: 5%;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    background-color: #F2F2F2;
}

.submit-btn:hover {
    background-color: #004886;
    color: #ffff;
}

.icons {
    padding-right: 5%;
    text-align: left;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #017EEC;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 15%;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


