<div class="main">
    <h2>Estoque</h2>

    <div class="row">
        <div class="col input-group-prepend">
            <span class="input-group-text lupa"><i class="fas fa-search fa-lg"></i></span>
            <input type="text" class="form-control busca">
        </div>
    </div>
    <form [formGroup]="estoqueForm">
        <table class="tabela">
            <tr>
                <th class="table-align">ID</th>
                <th class="table-align">Nome</th>
                <th>Marca</th>
                <th>Tamanho</th>
                <th>Valor</th>
                <th>Estoque</th>
            </tr>
            <tr *ngFor="let produto of produtos">
                <td class="table-align">{{produto.id}}</td>
                <td class="table-align">{{produto.nome}}</td>
                <td>{{produto.marca.nome}}</td>
                <td>{{produto.tamanho.id}}</td>
                <td>{{produto.preco_atual}}</td>
                <td>{{produto.quantidade_estoque}}</td>
                <button (click)='realizarEntrada(produto.id)' class="btn fas ">Entrada de Estoque</button>
                <button (click)='realizarVenda(produto.id)' class="btn fas " >Saida de Estoque</button>
            </tr>
        </table>
    </form>
</div>
