<div class="container-fluid container-main">
    <div class="row main">
        <div class="col img-responsive">
            <img class="logo" src="/assets/logo.png" align-content="center">
        </div>
        <div class="col formulario">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="card-header card-main">
                    <div class="cabecalho">
                        <h4 class="card-title text-center cabecalho">BEM-VINDO!</h4>
                    </div>

                    <div class="corpo">
                        <!-- Mensagem de erro caso o usuario não seja autenticado
                        <app-msg-erro [isError]="isErrorLogin()" mensagem="Senha ou login Inválidos"> -->
                        <!-- </app-msg-erro> -->

                        <label for="login" class="corpo-fonte">Usuário</label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control campos" placeholder="Digite o seu nome de usuário"
                                formControlName="login">
                        </div>

                        <!-- Mensagem de erro para quando os campos não são preenchidos corretamente -->
                        <!-- <app-msg-erro [isError]="isErrorCampo('login')" mensagem="Campo obrigatorio">
                        </app-msg-erro> -->

                        <label for="senha" class="corpo-fonte">Senha</label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control campos" placeholder="Digite sua senha"
                                formControlName="senha">
                        </div>

                        <!-- <app-msg-erro [isError]="isErrorCampo('senha')" mensagem="Campo obrigatorio">
                        </app-msg-erro> -->
                    </div>

                    <div>
                        <!-- Botão para realizar o login e habilitar se os dados forem válidos -->
                        <button type="submit" class="btn btn-block btn-lg submit-btn"
                            [disabled]="loginForm.valid? false : true">ENTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
