<div class="main">
    <h2>Novo Funcionario</h2>

    <form [formGroup]="cadastraFuncionarioForm" (ngSubmit)="onSubmit()" style="margin-top: 50px;">
        <label class="label-title">Nome</label><br>
        <input type="text" formControlName="nome">

        <br><label class="label-title">Usuário</label><br>
        <input type="text"  formControlName="login">

        <br><label class="label-title">Senha</label><br>
        <input type="password"  formControlName="senha">

        <br><label class="label-title">Repetir Senha</label><br>
        <input type="password"  formControlName="resenha">

        <br><label class="label-title">E-mail</label><br>
        <input type="text"  formControlName="email">
        <input type="button" class="botao-cadastrar" type="submit" id="cadastrar" name="cadastrar" value="Cadastrar">
    </form>
</div>

