<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="main">
    <button class="botao-voltar fas fa-chevron-circle-left fa-2x" (click)="voltarHome()"></button>
    <label class="titulo">Novo Funcionário</label>

    <form [formGroup]="cadastraFuncionarioForm" (ngSubmit)="onSubmit()" style="margin-top: 50px;">
        <label class="label-title">Nome</label><br>
        <input type="text" formControlName="nome">

        <br><label class="label-title">Usuário</label><br>
        <input type="text"  formControlName="login">

        <br><label class="label-title">Senha</label><br>
        <input type="password"  formControlName="senha">

        <br><label class="label-title">Repetir Senha</label><br>
        <input type="password"  formControlName="resenha">

        <br><label class="label-title">E-mail</label><br>
        <input type="text"  formControlName="email">
        <input type="button" class="botao-cadastrar" type="submit" id="cadastrar" name="cadastrar" value="Cadastrar">
    </form>
</div>

