<div class="main" [ngStyle]="{'display': displayFuncionarios}">
    <h2>Funcionários</h2>

    <div class="row">
        <div class="col input-group-prepend">
            <span class="input-group-text lupa"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control busca">
        </div>
        
        <button class="btn btn-cadastrar fas fa-plus-circle fa-sm" (click)="CadastrarFuncionario()" > Novo Funcionário</button>
        
    </div>

    <table class="tabela">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
        </tr>
        <tr *ngFor="let funcionario of funcionarios">
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.login}}</td>
            <td>{{funcionario.email}}</td>
            <td><button class="btn fas fa-pen fa-lg"></button></td>
            <td><button class="btn fas fa-trash fa-lg"></button></td>
        </tr>
        
    </table>
</div>

<app-cadastrafuncionario [ngStyle]="{'display': displayCadastroFuncionario}"></app-cadastrafuncionario>
