<div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control"> 
        </div>
        
        <div class="col"><button class="btn">search</button></div>
        <div class="col"><button class="btn">novofuncionario</button></div>
        
    </div>

    <div class="row">
        <div class="col">ID</div>
        <div class="col">Nome</div>
        <div class="col">Login</div>
        <div class="col">Email</div>
        <div class="col"></div>
        <div class="col"></div>
        
    </div>
    <div class="row" *ngFor="let funcionario of funcionarios">
        <div class="col">{{funcionario.id}}</div>
        <div class="col">{{funcionario.nome}}</div>
        <div class="col">{{funcionario.login}}</div>
        <div class="col">{{funcionario.email}}</div>
        <div class="col"><button class="btn">Edit</button></div>
        <div class="col"><button class="btn">delet</button></div>
    </div>

  
</div>