<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="main">
    <button class="botao-voltar fas fa-chevron-circle-left fa-2x" (click)="voltarHome()"></button>
    <label class="titulo">Novo Fornecedor</label>

    <form [formGroup]="cadastraFornecedorForm" (ngSubmit)="onSubmit()" style="margin-top: 50px;">
        <label class="label-title">Nome</label><br>
        <input type="text" formControlName="nome">

        <app-msg-erro [isError]="isErrorCampo('nome')" mensagem="Campo incorreto"></app-msg-erro>

        <br><label class="label-title">E-mail</label><br>
        <input type="email"  formControlName="email">

        <app-msg-erro [isError]="isErrorCampo('email')" mensagem="Campo incorreto"></app-msg-erro>

        <br><label class="label-title">Telefone</label><br>
        <input type="text" mask="(00) 00000-0000" formControlName="telefone">

        <app-msg-erro [isError]="isErrorCampo('telefone')" mensagem="Campo incorreto"></app-msg-erro>
        
        <input type="button" class="botao-cadastrar" type="submit" id="cadastrar" name="cadastrar" value="Cadastrar">
    </form>
</div>
